header {
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #d4c1ff;
}
