@media only screen and (min-width: 768px) {

  #menu-button {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
