@media (min-width: 768px) {

  #menu-button {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem 0;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
